h1 {
    font-size: 40px;
    font-family: Serif, 'Times New Roman';
    text-align: center;
    width: 700px;
}

a {
    font-size: 20px;
    font-family: Serif, 'Times New Roman';
    color: rgb(18, 14, 218);
    padding: 5px;
    display: block;
}

.burger {
    background-color: rgb(138, 74, 0);
    width: 700px;
}

.pasta {
    background-color: peachpuff;
    width: 600px;
}

.shrimp {
    background-color: orange;
    width: 500px;
}

.container {
    margin: 0 auto;
    width: 400px;
}